<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Date</Data></Cell>
        <Cell><Data ss:Type="String">Time</Data></Cell>
        <Cell><Data ss:Type="String">Location</Data></Cell>
        <Cell><Data ss:Type="String">License Plate</Data></Cell>
        <Cell><Data ss:Type="String">Violation</Data></Cell>
        <Cell><Data ss:Type="String">Penalty Amount</Data></Cell>
      </Row>
    <% @all_captured_violators.each do |violator| %>
      <Row>
        <Cell><Data ss:Type="String"><%= violator.capture_date.strftime("%B %d, %Y (%A)") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= violator.capture_date.strftime("%I:%M:%S %p") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= violator.location %></Data></Cell>
        <Cell><Data ss:Type="String"><%= violator.license_plate_text %></Data></Cell>
        <Cell><Data ss:Type="String"><%= violator.violation %></Data></Cell>
        <Cell><Data ss:Type="String"><%= violator.penalty_amount %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

